<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nglah.masrytechn">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name=".view.AllDeriver.DriverDetail"></activity>
        <activity android:name=".view.historyUSer.NaglatyDetails" />
        <activity android:name=".view.chat.ChatActivity" />
        <activity android:name=".view.historyUSer.History" />
        <activity android:name=".view.payment.NextPayment" />
        <activity android:name=".view.main.Main2Activity_Driver" />
        <activity android:name=".view.Accepted_Info.Accepted_User_Info" />
        <activity android:name=".view.Accepted_Info.Accepted_Info" />
        <activity android:name=".view.drive_Profile.CarInformation" />
        <activity android:name=".view.Choose_Nagla_Dat.Choose_Nagla_Date" />
        <activity android:name=".view.choose_place.Choose_Element" />
        <activity android:name=".view.choose_place.Choose_Place_Outside_City" />
        <activity android:name=".view.choose_place.Choose_Place_Inside_City" />
        <activity android:name=".view.All_Naglas.All_Nagla" />
        <activity android:name=".Verify_Dialog" />
        <activity android:name=".view.choose_place.Nagla_Location" />
        <activity android:name=".view.drive_Profile.drive_profile" />
        <activity android:name=".view.drive_Profile.DriverDataModel" />
        <activity android:name=".view.AllDeriver.AllDriver" />
        <activity android:name=".view.payment.Payment" />
        <activity android:name=".view.userProfile.EditUserProfile" />
        <activity android:name=".view.userProfile.UserProfile" />
        <activity android:name=".view.forgetPassword.ForgetActivity" />
        <activity
            android:name=".view.register.RegisterActivity"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".view.login.SplashActivity"
            android:theme="@style/HiddenTitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.login.LoginActivity"
            android:theme="@style/HiddenTitleTheme" />
        <activity android:name=".view.main.MainActivity_User" />

        <service
            android:name="com.oppwa.mobile.connect.service.ConnectService"
            android:exported="false" />
    </application>

</manifest>